

@{
    ViewData["Title"] = "Listar";
    IEnumerable<Business.Produto> produtos = ViewBag.Listar;
}


<h1>Listar</h1>

<div>
    <h4>Produtos</h4>


    <form asp-controller="Home" asp-action="Listar" method="get">
        <p>
            Nome: <input type="text" name="SearchString" />
            <input type="submit" value="Pesquisar" />
        </p>
    </form>

    <hr />
    <dl class="jumbotron">
        @foreach (var p in produtos)
        {

            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => p.Nome) |
                @Html.DisplayNameFor(model => p.Quantidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => p.Nome) |
                @Html.DisplayFor(model => p.Quantidade)
                <a asp-action="Edit" asp-route-id="@p.Id">Editar</a>
                <a asp-action="Excluir" asp-route-id="@p.Id"
                   onclick="return confirm('Deseja realmente excluir esse produto? @p.Nome')">
                    Excluir
                </a>
            </dd>






        }
    </dl>
</div>


